<div class="album">
  <main class="album-view-container container narrow">
    <section class="clearfix">
      <div class="column half">
        <img src="../assets/images/album_covers/01.png" class="album-cover-art" alt="album-cover">
      </div>
      <div class="album-view-details column half">
        <h2 class="album-view-title"> {{ album_info.name }} </h2>
        <h3 class="album-view-artist"> {{ album_info.artist }} </h3>
        <h5 class="album-view-release-info">{{ album_info.year + ' ' + album_info.label }}</h5>

      </div>
    </section>
      <div ui-view></div>
  </main>

  <section class="player-bar">
    <div class="container">
      <main-controls></main-controls>

      <div class="control-group currently-playing">
        <h2 class="artist-song-mobile"> {{ album_info.artist }}<span ng-if="currentSong"> - </span>{{ currentSong.name }}</h2>
        <h2 class="song-name">{{ currentSong.name }}</h2>
        <h2 class="artist-name"> {{ album_info.artist }} </h2>
        <div class="seek-control">
          <div class="seek-bar">
            <div class="fill"></div>
            <div class="thumb"></div>
          </div>
          <div class="current-time">2:30</div>
          <div class="total-time">4:45</div>
        </div>
      </div>
        
      <div class="control-group volume">
        <span class="ion-volume-high icon"></span>
        <div class="seek-bar">
          <div class="fill"></div>
          <div class="thumb"></div>
        </div>
      </div>
    </div>
  </section>
</div>