<div class="album">
  <main class="album-view-container container narrow">
    <section class="clearfix">
      <div class="column half">
        <img src="../assets/images/album_covers/01.png" class="album-cover-art" alt="album-cover">
      </div>
      <div class="album-view-details column half">
        <h2 class="album-view-title"> {{ album_info.name }} </h2>
        <h3 class="album-view-artist"> {{ album_info.artist }} </h3>
        <h5 class="album-view-release-info">{{ album_info.year + ' ' + album_info.label }}</h5>

      </div>
    </section>
      <!-- <div ui-view></div> -->
      <songs-list-table></songs-list-table>
  </main>

  <!-- player-bar directive -->
  <player-bar></player-bar>
</div>